@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400;700&display=swap');

@media(max-width: 767px){

    *{
        margin:auto;
        padding: 0;
    }

    body{
        width: 100%;
        background-color:rgba(243, 237, 232, 0.39);
    }

/* INDEX PAGE */
    .navbar-brand{
        padding-top: 0;
    }

    .navbar-toggler-icon{
        background-color: #eee7df
    }

    .late-logo{
        width: 100px;
        position: relative;
        right: 50%;
    }

    .navbar-toggler{
        margin-right: 5px;
    }
    
    .navbar{
        background-color: #eee7df !important;
    }

    .next-img{
        background-color: #b8ab9f !important
    }

    .navbar-light .navbar-toggler{
        border: none;
    }
    
    .title_banner{
        background-image: url(../img/mob-banner.jpg);
        background-size:cover;
        width: 100%;
        height: 500px;
        padding-top: 20px;
            .title__bannerinfo{
                width: 80%;
                height: 400px;
                background: rgba(240, 229, 219, 0.75);
            }}


    .main_description{
        color:black;
        font-size: 38px;
        padding: 24px 20px;
        line-height:1cm;
        font-family: "BioRhyme";
        font-weight: lighter;
    }

    .slideto{
        padding:0px 20px;
        font-size: 16px;
    }

    .us_btn{
        margin-top: 10px;
        margin-left: 20px;
        padding: 7px 7px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color: #eee7df;
    }

    .mob-carousel{
        padding-top: 20px;
        background-color:#b8ab9f ;
        padding-bottom: 30px;
    }
    
    .carousel-item img{
    height: 120px;
    }

    .carousel-item__title{
        font-family: "Oswald";
        font-size: 30px;
        color: #eee7df;
        font-weight: bold;
    }

    .prod-btn{
        display: block;
        margin:0 auto 0 auto;
        padding: 7px 7px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background-color: #eee7df;
        margin: 30px auto 30px auto;
            a{
                text-decoration: none;
                color:black;
                margin: 0 10px;
            }}

    .footer{
        background-color: white;
        z-index: 999;
    }
    
    .mob-media{
        font-size: 30px;
        display: flex;
        width: 60%;
        color:#b8ab9f;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .mob-rig{
        font-size: 13px;
        color:rgb(126, 126, 126);
        margin-bottom: 30px;
    }

    .main-container{
        display: none;
    }
    .dk-header{
        @extend .main-container
    }

    .main-container, .dk-banner, .products-container, .dk-footer, .main-desktop-content{
        @extend .main-container
    }
    
    /*************************/
    /** PAGINA DE PRODUCTOS **/

    .prod-mob-header{
        width: 100%;
        height: 150px;
        background-image: url(../img/Cupcake/cupcake-banner-mob.jpg);
        background-size:cover;    
    }

    .prod-mob-info{
        width: 70%;
        font-size: 20px;
        color:black;
            p{
                background: rgba(240, 229, 219, 0.55);
            }}

    #muffin-carousel{
        width: 85%;
        margin-top: 30px;
            .carousel-muffin img{
                height: auto;
            }}

    .prod-title{
        font-family: "Oswald";
        font-size: 25px;
        margin-bottom: 10px;
    }

    #torta-carousel{
        width: 85%;
        height: auto;
        margin-top: 30px;
    }


    .carousel-torta{
        height: auto;
            img{
                height: auto;
            }}

    #cookie-carousel{
       @extend #torta-carousel
    }

    .cookie-torta{
        @extend .carousel-torta



}

/*TERMINA EL INDEX*/
/*****************/
/****************/



p{
    margin-bottom: 0;
}

@media(min-width:768px){
body{
    width: 75%;
    margin: 0 auto;
    background-color: #eee7df;
}

.navbar, .navbar span{
    background-color: #eee7df !important;
}


.dk-banner{
    width: 100%;
}

.title_banner{
    display: none;
}

.late-logo{
    width: 100px;
    cursor:pointer;
    color:#45302d
}

.dk-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


.main-banner{
    height: 100%;
    grid-area: ban;
    width: 100%;
    background-image: url(../img/main-banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
        img{
            width: 100%;
            height: 100%;
        }}

.title{
    position: absolute;
    color:#eee7df;
    text-align: center;
    max-height: 454px;
        .title__main{
            font-family: "Gwendolyn";
            font-weight: 100;
            font-size: 6em;
            margin-top: 20px;
        }}

.title__sub{
    font-family: "Oswald Regular"; 
    text-transform: uppercase;
    font-size: 3em;
    margin-top: -3rem;
}

.muffins{
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 auto;
        h1{
            font-family: "Gwendolyn";
            font-weight:bolder;
            font-size: 40px;
        }
        p{
            margin: 0;
        }}

.mob-carousel, .prod-btn{
    display: none;
}

.products-container{
    background-image: url(../img/prod-banner.png);
    margin-top: 2rem;
    background-size: cover;
    display:flex;
    flex-direction: row;
    width: 100%;
    grid-area: prod;
    height: 150px;
    width: 100%;
    padding-top: 15px;
}

.footer{
    justify-content: space-evenly;
}

.mob-footer{
    display: none;
}

.rights p{
    font-size: 14px;
}

.contact-icons{
    font-size: 20px;
    letter-spacing: 20px;
    color: #45302d;

}
/*TERMINA EL INDEX*/
/*EMPIEZA PRODUCTOS*/

}

/*******************************/
/*********************************/

@media(min-width:1025px){
    .navbar-collapse {
        flex-grow: 0 
    }

    .navbar-brand{
        padding-top: 0;
    }

    .nav-link{
        font-size: 20px;
        text-transform: uppercase;
        padding-left: 50px;
    }

    .navbar-nav a{
        margin: 0 20px;
    }

    .navbar{
        margin-top: 30px;
    }

    .title__main{
        font-size: 15rem;
    }

    .title__sub{
        font-size: 9rem
    }

    .title{
        line-height: 14rem;
    }

    .info{
        flex-direction: row;
            p{
                font-size: 23px;
            }
            h1{
                font-size: 3.4rem;
            }}

    .muffins{
        margin-top: 0;
    }

    .products-container{
        width: 100%;
        justify-content: center;
        height: auto;
    }

    .products{
        margin: 10px 30px;
            img{
                height: 140px;
    }}

    .products__title{
        font-size: 3px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .footer{
        width: 100%
    }
    .mob-carousel, .prod-mob-info{
        display: none;
    }
    
/*TERMINA EL INDEX*/
/*EMPIEZA PRODUCTOS*/

}

/*************************************************/
/*************************************************/

.products__img{
    width: 90%;
    height: 90px;
    padding-bottom: 20px;
}

.products__desc{
    display: none;
}

.products{
    width: 200px;
    text-align: center;
}

.products__desc{
    color:#eee7df;

    letter-spacing: 0,5px;
    font-size: 18px;
}

.products__title{
    color:#eee7df;

    font-size: 22px;
    
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    align-items: center;
}

.rights{
    text-transform: uppercase;
    color:45302d;
    font-family: "Oswald";
    letter-spacing:0.5px;
}


/*PAGINA DE PRODUCTOS*/
/*BANNER*/

.prod-mob-header, .muffin-carousel, .torta-carousel, .cookie-carousel{
    display: none;
}

.products-banner{
    display: flex;
    margin-bottom: 20px;
        .products-banner__img{
            width: 100%;
        }}

.products-banner__container{
    position: absolute;
    align-self: center;
    flex-direction: column;
    justify-items: baseline;
    text-transform: uppercase;
    color: white;
    margin-left: 40px;
    font-size: 25px;
}

span{
    background-color: rgba(0, 0, 0, 0.658);
    opacity: 0.75;
    font-family: sans-serif;
    font-weight:100;
}
/*----------------------*/

/*GRILLA DE MUFFINS*/
.muffins-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 210px 210px;
    grid-template-areas: "muffin1 muffin2 muffin3 muffin4"
                         "text1 text2 text3 text4";
    margin-bottom: 40px;
}

/*MUFFINS HOVER*/
.choco-cupcake img{
    opacity:1;  
    display: block;
    transition: .5s ease; 
}
.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color:#45302d;
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    font-family: sans-serif;
}
.overlay{
    opacity: 0;
} 
.choco-cupcake:hover img{
    opacity: .5;
}
.choco-cupcake:hover .overlay{
    opacity: 1;
}
/**------------------------*/
.straw-cupcake img{
    opacity:1;  
    display: block;
    transition: .5s ease; 
}
.straw-cupcake:hover img{
    opacity: .5;
}
.straw-cupcake:hover .overlay{
    opacity: 1;
}
/*-----------------------------------*/
.velvet-cupcake img{
    opacity:1;  
    display: block;
    transition: .5s ease; 
}
.velvet-cupcake:hover img{
    opacity: .5;
}
.velvet-cupcake:hover .overlay{
    opacity: 1;
}

/*-----------------------------------*/
.vainilla-cupcake img{
    opacity:1;  
    display: block;
    transition: .5s ease; 
}
.vainilla-cupcake:hover img{
    opacity: .5;
}
.vainilla-cupcake:hover .overlay{
    opacity: 1;
}
/*-----------------------------------*/
.choco-cupcake{
    grid-area: muffin1;
    position: relative;
}

.straw-cupcake{
    grid-area: muffin2;
    position: relative;
}

.velvet-cupcake{
    grid-area: muffin3;
    position: relative;
}

.vainilla-cupcake{
    grid-area: muffin4;
    position: relative;
}

.choco-text{
    grid-area: text3;

}

.cupcake-img{
    height: 300px;
    box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.2);
}

.cupcake-banner{
    width: 100%;
    margin-bottom: 15px;
}

.products-title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald Regular"; 
    font-size: 50px;
    color: #45302d;
    letter-spacing: 3px;
    padding-bottom:30px;
}

.product-text{
    font-size:17px;
    font-family: "Oswald Regular"; 
    letter-spacing: 1px;
    text-align: center;
    margin:0 50px 0 50px;
    padding-top: 10px;
    align-self:flex-end;
    font-family: "Oswald";
}
/*-------------------------------*/

/*GRILLA DE TORTAS*/
.cakes-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 350px;
    grid-template-areas: "cake1 text5 cake2 text6"
                        " cake1 cake3 cake2 cake4";
    margin-bottom: 40px;
    background-color:#ccbfb1;
    align-items: center;
}
.fudge-cake{
    grid-area: cake3;
    margin: 0 30px;
}

.white-cake{
    grid-area: cake4;
    margin: 0 30px;

}

.black-cake{
    grid-area: cake1;
}

.rose-cake{
    grid-area: cake2;
}

.cake-img{
    width: 300px;
    box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.2);
}

.rose-text{
    grid-area: text5;
}

.cake-text{
    margin:0 20px 0 20px
}
/*-------------------------------*/

/*GRILLA DE GALLETITAS*/
.cookies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 100px 250px 100px;
    grid-template-areas: "cookie1 cookie2"
                        "text7 text8"
                        "cookie3 cookie4"
                        "text9 text10";
    margin-bottom: 40px;
    justify-items: center;
}

.brownie-cookie{
    grid-area: cookie1;
}

.buter-cookie{
    grid-area: cookie2;
}

.chip-cookie{
    grid-area: cookie3;
}

.funfetti-cookie{
    grid-area: cookie4;
}

.brownie-text{
    grid-area: text7;
}

.buter-text{
    grid-area: text8;
}

.chip-text{
    grid-area: text9;
}

.funfetti-text{
    grid-area: text10;
}

.cookie-text{
    font-size:17px;
    font-family: "Oswald Regular"; 
    letter-spacing: 1px;
    text-align: center;
    margin:0 50px 0 50px;
    padding-top: 10px;
    font-family: "Oswald";
}
/*------------------------------------*/

/*PAGINA DE CONTACTO*/
.contact-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: #eee7df;
    position: relative;
    bottom: 100px;
    box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.1);
}

.contact-img{
    width: 700px;
    margin: 20px 20px;
}



.contact-text{
    margin: 0 20px;
    font-size: 19px;
    font-family: sans-serif;
}

.contact-banner__img{
    position: relative;
    padding-top: -20px;
    width: 100%;
}

.contact-banner{
    position: relative;
}
/*------------------------------------*/

/*GRILLA CONTACTO*/
.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas: "wpp map mail"
                         "wpptext maptext mailtext";
    background-color: #ccbfb1;
    width: 80%;
    padding: 30px 0 30px 0;
}

.fa-logo{
    grid-area: wpp;
}

.map-logo{
    grid-area: map;
}

.mail-logo{
    grid-area: mail;
}

.wpp-info{
    grid-area: wpptext;
}

.add-info{
    grid-area: maptext;
}

.email-info{
    grid-area: mailtext;
}

.co-logo{
    font-size: 5rem;
    color: #45302d;
}

.contact-title{
    font-family: "Oswald";
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.list-info{
    text-align: center;
    list-style: none;
    font-size: 18px;
    font-family: sans-serif;
}
/*----------------------------------------*/
/*FORMULARIO*/

form{
	width: 600px;
	padding:16px;
	margin:auto;
	background-color:#ccbfb1;
    margin-top: 70px;
        label{
            width:72px;
            font-size: 15px;
            color: #45302d;
            display:inline-block;
            font-family: sans-serif;
        }}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:50%;
	padding:8px 16px;
	margin-top:15px;
	border:1px solid #45302d;
	display:block;
	color:#fff;
	background-color:#45302d;;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:70px;
	border:1px solid #f6f6f6;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}
/*------------------------------------*/

/*PAGINA DE PROMOCIONES*/

.pr-grid-container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "nav"
                         "pr-ban"
                         "promo"
                         "footer";
}



.promo-banner{
    grid-area: pr-ban;
        .img{
            width: 100%;
            display: flex;
        }}

.promo-container{
    width: 100%;
}

.bank-list img{
    width: 200px;
    margin:0;
    margin:30px
}

.bank-list, .tarj-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin:0;

}

.tarj-list img{
    height: 80px;
    margin:30px;
}

.promo-title{

    font-size: 24px;
    margin: 35px 0 15px 0;
        text-align: center;

}

.promo-container{
    margin-bottom: 50px;
    text-align: center;
}

.prod-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*-------------------------------------*/
/*ABOUT US */

.us-banner{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
        .us-banner__img{
            width: 100%;
        }}

.about-info{
    text-align: center;
        h1{
            font-family: "Oswald";
            font-size: 50px;
            font-weight: lighter;
            margin-bottom: 20px;
        }}

.about-text{
    font-size: 20px;
    width: 60%;
        p{
            margin-bottom: 30px;
        }
    }}